<ion-header>
  <ion-navbar color="b" >
    <ion-buttons left>
      <button ion-button  color="royal">
        <ion-icon name=""></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Review
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only  color="royal" (click)="presentModal()">
        <ion-icon name="ios-information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<img src="../../assets/imgs/BIRTHDAY.png">
<ion-content padding class="background" >
  <h1 *ngIf="!hasMessages">You currently don't have messages to review</h1>
<div  *ngFor="let v of sentMessages; let u = index" (press)="sendVia(v.message,v.name , v.key)" >


    <ion-list   >
        <ion-item-sliding>
          <ion-item   >
            <ion-avatar item-start  >
              <img src="{{v.image}}">
            </ion-avatar>
            <h2>{{v.name}}</h2>

            {{v.message}}
            {{v.automessage}}

            <br>
            <!-- {{countDownDate}} -->
            <ion-grid>
              <ion-row>
                <ion-col>
                </ion-col>
                <ion-col center text-right>
                  <ion-note  color="grey" >
                    <p id="demo"></p>

                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="b" (click)="readMore(v.message,v.name , v.image)">
              <ion-icon name="mail"></ion-icon>
              Read
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="b" (click)="Delete(v.key)">
              <ion-icon name="delete"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list></div>


</ion-content>
