
page-about {
    .background{
        background-color: rgb(240, 240, 240); 
    }
    .date{
        text-align: center;
        position: relative;
    }
    .heading{
        position: relative;
        top: -2px;
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
    }
    ion-row {
        position: relative;
    }
    .item{
       border-radius: 15px;
    }
    .ion-avatar{
        border-radius: 50px;
        height: 50px;
        width: 50px;
        position: relative;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322) 
        }
        .flex{
            display: flex;
            padding-bottom: 5%;
            padding-top: 5;
            }
            ion-avatar{
                border-radius: 50px;
                height: 50px;
                width: 50px;
                position: relative;
            }
            ion-item-sliding{
                border-radius: 15px;
            }
            h1{
             position: relative;
             top: 30%;
            text-align: center;
            color: rgb(141, 141, 141)
            }
}
