<ion-header>
  <ion-navbar color="b" >
    <ion-buttons left>
      <button ion-button  color="royal">
        <ion-icon name=""></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Scheduled messages
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only  color="royal" (click)="presentModal()">
        <ion-icon name="ios-information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<img src="../../assets/imgs/BIRTHDAY.png">
<ion-content padding class="background" >
 
  <h1 *ngIf="!hasMessages">You currently don't have messages to review</h1>


  <!-- <div class="test"> -->
    <ion-list padding-top id="bck" class="mylist" *ngFor="let v of sentMessages; let u = index" >
        <ion-item-sliding (click)="readMore(v.message , v.name)">
          <ion-item  >
            <ion-thumbnail item-start  >
              <img src="{{v.image}}">
            </ion-thumbnail >
        
            <h2 class="h2" >{{v.emailto}}</h2>
            <p> {{v.message}}
            {{v.automessage}}
          </p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="b" class="buttons"  (click)="Delete(v.k ,v.uniquedate)">
              <ion-icon name="delete"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    <!-- </div> -->


</ion-content>
