page-add-contacts {
    .space{
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 25px
    }
    .back{
        background-color: rgb(245, 245, 245)
    }
    h1{
        color: gray
    }
}
