page-add-contacts {
    .space{
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 25px
    }
    .back{
        // background-color: rgb(245, 245, 245)
        background-image:linear-gradient(rgba(189, 146, 146, 0.521),#f5c3c3),url('../../assets/9512d7cc3af9d3c25abee36754e5d01a.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    h1{
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.589)
    }
}
