page-login {

    .background{
        background-image:linear-gradient(to bottom, rgba(249, 178, 183, 0.877) ,rgba(107,43,93, 0.877)),url('../../assets/imgs/b4.jpg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .body{
        position: relative;
        top: 50px;
    }
    .logo-sec{
        position: relative;
        text-align: center;
        top: 30px;
    }
    .inputs{
        position: relative;
        top: 40px;
    }
    .signwith{
        position: relative;
        bottom: -45px;
        text-align: center;
    }
    .signin-icons{
        position: relative;
        left: 32%;
        top: 20px;
        }
        .register{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
        .reg{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .Forget{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .button{
            width: 100%;

        }
    h1{
     position: relative;
     font-size: 5em;
     text-align: center;
     margin: 0%;
     color: white; 
 }
 p{
     position: relative;
     font-size: 20px;
     text-align: center;
     top: 10%;
     color: white;
     margin: 0%;
     top: -15px;
     font-family: cursive;
 }
 h6{
     color: white;
     position: relative;
     top: 10px;
 }
 .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0;
}
.items{
    margin-top: 3%;
    background-color: rgba(255, 228, 196, 0);
    padding-left: 12px;
}
.Login{
    margin-top: 10%;
    padding-left: 12px;
}
ion-footer{
  padding-left: 12px;
  font-size:202px;
}
.text-input::-moz-placeholder {
    color: white;
  }
  .text-input:-ms-input-placeholder {
    color: white;
  }
  .text-input::-webkit-input-placeholder {
    color: white;  
  }
  .icon{
      font-size: 1.5em;
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
    color: white;
}
img{
    position: relative;
    left: 60%;
}
.text-input-md {
    margin-left: 0px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}



 


// iphone x
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .background{
        background-image:linear-gradient(to bottom, rgba(249, 178, 183, 0.877) ,rgba(107,43,93, 0.877)),url('../../assets/imgs/b4.jpg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: center;
        // background-color:rgb(249, 178, 183);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }
    .body{
        position: relative;
        top: 150px;

    }
    .logo-sec{
        position: relative;
        text-align: center;
        top: 30px;
    }
    .inputs{
        position: relative;
        top: 40px;

        // margin: 5%

    }
    .signwith{
        position: relative;
        bottom: -45px;
        text-align: center;
     

    }
    .signin-icons{
        position: relative;
        left: 32%;
        top: 20px;
//   text-align: center;
        }
        .register{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
        .reg{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .Forget{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .button{
            width: 100%;

        }
    h1{
     position: relative;
     font-size: 5em;
     text-align: center;
     margin: 0%;
     color: white;
    //  border-bottom: 5px solid red;
     
 }
 p{
     position: relative;
     font-size: 20px;
     text-align: center;
     top: 10%;
     color: white;
     margin: 0%;
     top: -15px;
     font-family: cursive;
 }
 h6{
     color: white;
     position: relative;
     top: 10px;
 }
 .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0;
}
.items{
    // border-radius: 25px;
    margin-top: 3%;
    background-color: rgba(255, 228, 196, 0);
    padding-left: 12px;
}
.Login{
    // height: 45px;
    margin-top: 10%;
    padding-left: 12px;
}
ion-footer{
  padding-left: 12px;
  font-size:202px;
}
.text-input::-moz-placeholder {
    color: white;
    
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  
  }
  
  .text-input::-webkit-input-placeholder {
    color: white;

  
  }
  .icon{
      font-size: 2em;
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
    color: white;
}
img{
    position: relative;
    left: 60%;
}
.text-input-md {
    // margin: 13px 30px;
    margin-left: 0px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
}
// IPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .background{
        background-image:linear-gradient(to bottom, rgba(249, 178, 183, 0.877) ,rgba(107,43,93, 0.877)),url('../../assets/imgs/b4.jpg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: center;
        // background-color:rgb(249, 178, 183);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }
    .body{
        position: relative;
        top: 250px;

    }
    .logo-sec{
        position: relative;
        text-align: center;
        top: 30px;
    }
    .inputs{
        position: relative;
        top: 40px;

        // margin: 5%

    }
    .signwith{
        position: relative;
        bottom: -45px;
        text-align: center;
     

    }
    .signin-icons{
        position: relative;
        left: 32%;
        top: 20px;
//   text-align: center;
        }
        .register{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
        .reg{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .Forget{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .button{
            width: 100%;

        }
    h1{
     position: relative;
     font-size: 5em;
     text-align: center;
     margin: 0%;
     color: white;
    //  border-bottom: 5px solid red;
     
 }
 p{
     position: relative;
     font-size: 20px;
     text-align: center;
     top: 10%;
     color: white;
     margin: 0%;
     top: -15px;
     font-family: cursive;
 }
 h6{
     color: white;
     position: relative;
     top: 10px;
 }
 .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0;
}
.items{
    // border-radius: 25px;
    margin-top: 3%;
    background-color: rgba(255, 228, 196, 0);
    padding-left: 12px;
}
.Login{
    // height: 45px;
    margin-top: 10%;
    padding-left: 12px;
}
ion-footer{
  padding-left: 12px;
  font-size:202px;
}
.text-input::-moz-placeholder {
    color: white;
    
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  
  }
  
  .text-input::-webkit-input-placeholder {
    color: white;

  
  }
  .icon{
      font-size: 2em;
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
    color: white;
}
img{
    position: relative;
    left: 60%;
}
.text-input-md {
    // margin: 13px 30px;
    margin-left: 0px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
}
//ipadpro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .background{
        background-image:linear-gradient(to bottom, rgba(249, 178, 183, 0.877) ,rgba(107,43,93, 0.877)),url('../../assets/imgs/b4.jpg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: center;
        // background-color:rgb(249, 178, 183);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .logo-sec{
        position: relative;
        text-align: center;
        top: 30px;
    }
    .inputs{
        position: relative;
        top: 40px;

        // margin: 5%

    }
    .signwith{
        position: relative;
        bottom: -45px;
        text-align: center;
     

    }
    .signin-icons{
        position: relative;
        left: 32%;
        top: 20px;
//   text-align: center;
        }
        .register{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
        .reg{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .Forget{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .button{
            width: 100%;

        }
    h1{
     position: relative;
     font-size: 5em;
     text-align: center;
     margin: 0%;
     color: white;
    //  border-bottom: 5px solid red;
     
 }
 p{
     position: relative;
     font-size: 20px;
     text-align: center;
     top: 10%;
     color: white;
     margin: 0%;
     top: -15px;
     font-family: cursive;
 }
 h6{
     color: white;
     position: relative;
     top: 10px;
 }
 .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0;
}
.items{
    // border-radius: 25px;
    margin-top: 3%;
    background-color: rgba(255, 228, 196, 0);
    padding-left: 12px;
}
.Login{
    // height: 45px;
    margin-top: 10%;
    padding-left: 12px;
}
ion-footer{
  padding-left: 12px;
  font-size:202px;
}
.text-input::-moz-placeholder {
    color: white;
    
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  
  }
  
  .text-input::-webkit-input-placeholder {
    color: white;

  
  }
  .icon{
      font-size: 2em;
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
    color: white;
}
img{
    position: relative;
    left: 60%;
}
.text-input-md {
    // margin: 13px 30px;
    margin-left: 0px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
    .body{
        position: relative;
        top: 350px;

    }
}
}

//laptop
@media only screen and (min-device-width: 1440px) and (max-device-width: 900px) {
    .background{
        background-image:linear-gradient(to bottom, rgba(249, 178, 183, 0.877) ,rgba(107,43,93, 0.877)),url('../../assets/imgs/b4.jpg');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-position-x: center;
        // background-color:rgb(249, 178, 183);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .logo-sec{
        position: relative;
        text-align: center;
        top: 30px;
    }
    .inputs{
        position: relative;
        top: 40px;
    }
    .signwith{
        position: relative;
        bottom: -45px;
        text-align: center;
    }
    .signin-icons{
        position: relative;
        left: 32%;
        top: 20px;
        }
        .register{
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
        .reg{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .Forget{
            position: relative;
            margin: 0%;
            padding: 0%
        }
        .button{
            width: 100%;

        }
    h1{
     position: relative;
     font-size: 5em;
     text-align: center;
     margin: 0%;
     color: white;
 }
 p{
     position: relative;
     font-size: 20px;
     text-align: center;
     top: 10%;
     color: white;
     margin: 0%;
     top: -15px;
     font-family: cursive;
 }
 h6{
     color: white;
     position: relative;
     top: 10px;
 }
 .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0;
}
.items{
    margin-top: 3%;
    background-color: rgba(255, 228, 196, 0);
    padding-left: 12px;
}
.Login{
    margin-top: 10%;
    padding-left: 12px;
}
ion-footer{
  padding-left: 12px;
  font-size:202px;
}
.text-input::-moz-placeholder {
    color: white; 
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  }
  .text-input::-webkit-input-placeholder {
    color: white;
  }
  .icon{
      font-size: 2em;
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
    color: white;
}
img{
    position: relative;
    left: 60%;
}
.text-input-md {
    margin-left: 0px;
    padding: 0;
    width: calc(100% - 8px - 8px);
}
    .body{
        position: relative;
        top: -10px;
    }


    .err{
        color: red;
        font-size: 2rem;
    }

    .dis{
        animation: .3s fadeIn ease;
        // position: relative;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%)
    }
    
}





