<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="b">
      <ion-buttons left>
          <button ion-button icon-only large color="royal" (click)="update()">
            <ion-icon ios="ios-create" md="md-create"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only large color="royal" (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
      <!-- <button ion-button icon-only  color="dust" align="right" ion-button clear icon-only (click)="update()">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </button > -->
  </ion-navbar>
</ion-header>

<ion-content class="background">


  <div class="flex" align="center">
  <ion-avatar align="center">
     
        <img id="images" src="{{profileimage}}" class="Avatar" imageViewer>
    <label for="hide"><ion-icon class="add" color="b" ios="ios-add-circle" md="md-add-circle"></ion-icon></label>
       <input type="file" id="hide" accept="image/*" (change)="upload($event)"/>
  </ion-avatar>
</div>


<div class="text">
    <h1 align="center"> {{name}}</h1>
<p align="center" class="ion-note" >
    {{email}}
</p> 
</div>
<div class="create" align="right">

</div> 
<img src="../../assets/icon/"/>
<div class="segment"> 
                         
<ion-list>
    <ion-item>

        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="Favourites">
          FAVOURITE
          </ion-segment-button>
          <ion-segment-button value="puppies">
            Customized cards
          </ion-segment-button>
        </ion-segment>
      
      <div [ngSwitch]="pet"   >
        <div class="container" >
        <ion-list *ngSwitchCase="'Favourites'" color="dust" >
          <ion-item>
                <ion-grid >
                <ion-row>
                    <ion-col col-6 *ngFor="let a of  favouriteArray"   (press)="ShareDelete(a.message, a.id)">
                        <img src="{{a.image}}"  class="image" imageViewer>   
                    </ion-col>
                </ion-row>
              </ion-grid> 
          </ion-item>
        </ion-list>
      </div>
      </div>


      <div [ngSwitch]="pet"   >
          <div class="container" >
          <ion-list *ngSwitchCase="'puppies'" color="dust" >
            <ion-item>
                  <ion-grid >
                  <ion-row>
                      <ion-col col-6 *ngFor="let a of  customizedCard"   (press)="ShareD(a.image, a.id)">
                          <img src="{{a.image}}"  class="image" imageViewer>   
                      </ion-col>
                  </ion-row>
                </ion-grid> 
            </ion-item>
          </ion-list>
        </div>
        </div>
    </ion-item>
  </ion-list> 
</div> 
</ion-content>