page-contact {
    .background{

        background-color: 	rgb(248, 248, 248);

    }
    h1{
        color: gray;
       padding-top: 30%
    }
    h2{
        position: relative;
       
        color: rgb(104, 104, 104)
    }
    h3{
        position: relative;
       
           color: rgb(141, 141, 141)
       }
    .fabres{
        background: linear-gradient(170deg,  rgb(193, 252, 245) 10% , lightpink 70% );
    }
    .note{
        padding: 0%;
        margin: 0%;
        position: absolute;;
         top: 54%;
         left: 70%
    }
    .listcrop{
        height: 15px;
    }
}
