
<ion-header >
    <ion-toolbar color="b" text-center>
      <ion-title>Contacts</ion-title>
      <ion-buttons end >
          <button ion-button icon-only (click)="choosecontact()">
            <ion-icon name="person-add"></ion-icon>
          </button>
          
        </ion-buttons>


        
    </ion-toolbar>
  </ion-header>

 <ion-content  text-center class="background" >



<!--   
  <ion-list class="listcrop">
      <button ion-item *ngFor="let details of contactListArray; let u = index"  (click)="itemSelected(details.name,details.email, details.date)">
          <h2><b> {{details.name}}</b></h2>
         <h2>{{details.email }}</h2>
              
  
    <div class="note">
       <p>{{details.date }}</p>
    </div>
      </button>
 
    </ion-list> -->
 
    <div *ngIf="contactListArray.length == 0; else conempty">
<h1>You don't have any contacts available click on the add button to add a contact </h1>
    </div>

    <ng-template #conempty>

<div class="list" >

  
      <ion-list   *ngFor="let details of contactListArray; let u = index">

          <ion-item-sliding>
              <ion-item    (click)="itemSelected(details.name,details.email, details.ocassion)"> 
                  <ion-avatar style="background-color: palevioletred; border-radius: 100px" item-start>
                    <h2 text-center style="font-size: 30px; margin: 0 auto; color: white;text-transform: uppercase; margin-top: 3px"><b>{{details.shortname}}</b></h2>
                    <!-- <img src="../../assets/icon/download.png" alt="" srcset=""> -->
                  </ion-avatar>
                  <h2><b> {{details.name}}</b></h2>
                  <h3>{{details.email }}</h3>
                  <!-- <button item-end ion-button  clear  icon-only><ion-icon color="b" name="create"></ion-icon></button> -->
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="b" class="buttons"  (click)="Delete(details.k)">
                      <ion-icon name="delete"></ion-icon>
                      Delete
                    </button>
    
                  </ion-item-options>
            </ion-item-sliding>
            
           
          <!-- <ion-item-divider style="background-color: oldlace;"> <b>My Contacts List</b> </ion-item-divider> -->
         
        </ion-list>
      </div>
    </ng-template>
  <!-- <ion-fab top right >
      <button ion-fab class="fabres" (click)="userDetails()"><ion-icon name="add"></ion-icon></button>
  
    </ion-fab> -->

 </ion-content>