
<ion-header >
    <ion-toolbar color="b" text-center>
      <ion-title>Sent</ion-title>
       <ion-buttons end>
        <button ion-button icon-only  color="royal" (click)="presentModal()">
          <ion-icon name="ios-information-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 <ion-content padding class="background" text-center>
  <h1 *ngIf="!hasMessages">You currently haven't sent any messages</h1>
 <div class="card" *ngFor="let v of sentMessages; let u = index">
    <h6>{{v.date}} </h6>
  

  <ion-list class="item">
        <ion-item-sliding>
          <ion-item>
            <h2><b>{{v.name}}</b></h2>
            <p>
            {{v.message}}
            </p> 
          </ion-item>
          <ion-item-options side="left">
                <button ion-button color="b" (click)="readMore(v.message,v.name )">
                  <ion-icon name="mail"></ion-icon>
                  Read
                </button>
              </ion-item-options>
              <ion-item-options side="right">
                <button ion-button color="b" (click)="Delete(v.key)">
                  <ion-icon name="delete"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
        </ion-item-sliding>
      </ion-list>
 </div>
 
 
 
 
 
 
 </ion-content>