<ion-header>

    <ion-navbar color="b" >
        <!-- <ion-buttons end>
            <button ion-button icon-only (click)="Personalcard()">
              <ion-icon ios="ios-create" md="md-create"></ion-icon>
            </button> 
          </ion-buttons> -->
      <ion-title align="center">
          Home
      </ion-title>
     
    </ion-navbar>
  </ion-header>


<ion-content  class="backgroud" padding >
  <div class="card-container" *ngIf="ready" id="cards">
    <sc-card  *ngFor="let attendant of attendants"
[orientation]="cardDirection" [tinder-card]="cardOverlay"[callDestroy]="attendant.destroyEvent" [callLike]="attendant.likeEvent" (onLike)="onCardInteract($event)"  >


<!-- {{textdisplay}}  -->

<!-- <div class="user_img" [style.background-image]="imzx.asBg" > -->
 
<!-- <img src="{{slidingImage}} "> -->
<div *ngIf="hideimage">
    <img src="{{imzx}}" (load)="onImageLoad($event)"  >

</div>


<!-- </div> -->
    </sc-card>
   
</div>

<h1 class="hasmess" padding>{{hasMessages}}</h1>
      </ion-content>
      <ion-footer *ngIf="noCards == 1"  id="hidebtnz">
        <ion-fab  left bottom padding>
          <button ion-fab  class="fabs" color="light" (click)="dislike()"><ion-icon color="danger" name="md-close"  ></ion-icon></button>
        </ion-fab>
        <ion-fab center bottom >
          <button ion-fab mini color="light" (click)="shareVia()"><ion-icon color="primary" name="share"></ion-icon></button>
        </ion-fab>
        <ion-fab right bottom padding>
          <button ion-fab class="fabs" color="light" (click)="like()"><ion-icon color="secondary" name="md-heart"  ></ion-icon></button>
         </ion-fab>
         </ion-footer>