page-info {
    .background{
        background-color: rgba(0, 0, 0, 0.589)
    }
    h2{
        color: white;
      
    }
    .body{
          position: relative;
          top: 210px;
    }
    .button{
        position: relative;
        top: 40px;
    }
}
