.purple-theme{
 
    .header .toolbar-background{
        background-color: #cf75ae;

    }
    .tabs-md-b .tab-button, .tabs-md-b .tab-button-icon{
        background-color: #cf75ae;


    }
    .buttons{
        background-color:  #cf75ae;

    }
    .icon-md-b{
        color: #cf75ae;
    }
    page-profile .segment-md .segment-button{
        color: #cf75ae;
    }
    page-profile .segment-md .segment-button.activated, page-profile .segment-md .segment-button.segment-activated{
        color: #cf75ae;
    }
    h6{
        background-color: #cf75ae
    }
    .toolbar-md-b .toolbar-background-md{
        background-color: #cf75ae

    } .button-md-b{
        background-color: #cf75ae
    }


}