.blue-theme{
 
    .header .toolbar-background{
        background-color:#9CDCFF;

    }
    .tabs-md-b .tab-button, .tabs-md-b .tab-button-icon{
        background-color:#9CDCFF;


    }
    .buttons{
        background-color:#9CDCFF;

    }
    .icon-md-b{
        color:#9CDCFF;
    }
    page-profile .segment-md .segment-button{
        color:#9CDCFF;
    }
    page-profile .segment-md .segment-button.activated, page-profile .segment-md .segment-button.segment-activated{
        color:#9CDCFF;
    }
    h6{
        background-color: #9CDCFF
    }
    .button-md-b{
        background-color: #9CDCFF
    }
    ion-item-options .button{
        background-color: #9CDCFF
    }
    ion-item-options{
        background-color: #9CDCFF

    }
    .md ion-footer .toolbar:last-child{
        background-color: #9CDCFF

    }
    .toolbar-md-b .toolbar-background-md{
        background-color: #9CDCFF

    }



}