.maincolor-theme{
 
    .header .toolbar-background{
        background-color: rgb(249, 178, 184);

    }
    ion-tab {
        background-color: #F9B2B8;


    }
    .buttons{
        background-color: #F9B2B8;

    }
    .icon-md-b{
        color:#F9B2B8;
    }
    page-profile .segment-md .segment-button{
        color:#F9B2B8;
    }
    page-profile .segment-md .segment-button.activated, page-profile .segment-md .segment-button.segment-activated{
        color:#F9B2B8;
    }
    .toolbar-md-b .toolbar-background-md{
        background-color: #F9B2B8

    }
    


}