.orange-theme{
 
    .header .toolbar-background{
        background-color: #FBD17F;

    }
    .tabs-md-b .tab-button, .tabs-md-b .tab-button-icon{
        background-color: #FBD17F;


    }
    .buttons{
        background-color:  #FBD17F;

    }
    .icon-md-b{
        color:#FBD17F;
    }
    page-profile .segment-md .segment-button{
        color:#FBD17F;
    }
    page-profile .segment-md .segment-button.activated, page-profile .segment-md .segment-button.segment-activated{
        color:#FBD17F;
    }
    h6{
        background-color: #FBD17F
    }
    .toolbar-md-b .toolbar-background-md{
        background-color: #FBD17F

    }
    .button-md-b{
        background-color: #FBD17F
    }


}