// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.splash{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-self: center;
  justify-content: center;
  background-image: linear-gradient( #ff7478,#f54fa1  );
  
}
.spinner {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }


  .toast{
    .toast-wrapper
     { text-align: center;  background: color($colors, toast1)
      ;}
};


.toast1{.toast-wrapper { text-align: center;  background: color($colors,  toast2);}
};
  .loading-md .loading-wrapper {
    max-height: 13%;
    border-radius: 25px

  }
  .action-sheet-md .action-sheet-group {
    //background: rgb(247, 255, 255);
    border-radius: 10px
}
.action-sheet-md .action-sheet-group .button-inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: center;
    font-weight: bold
}
.action-sheet-md .action-sheet-title {
    text-align: center;
    text-align: center;
    font-size: 1.6rem;
    color: #000000;
    padding: 11px 16px 17px;
    border-bottom: 1px #8d8d8d;
    border-bottom-style: double;
    font-weight: 450
}
.action-sheet-md .action-sheet-group:last-child {
    padding-top: 0.8rem;
    // border-top: 1px #8d8d8d;
    // border-top-style: double;
}

.myAlert {
  
  color: rgb(255, 138, 245);
  button {
    color: rgb(207, 117, 174);
    margin: 0 auto;
    text-transform: uppercase;
  }
  .alert-message {
    color: rgb(207, 117, 174); // text color for confirm alerts
  }
  .alert-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(207, 117, 174);
    animation: 0.7s bounceIn;
  }
  .alert-subTitle{
    color: white;
  }

  
}
.alert-md .alert-input {
      margin: 5px 0;
      border-bottom: 1px solid #ffffff;
      color: rgb(207, 117, 174) !important;
  }
.alert-md .alert-button .button-inner {

      border-radius: 2px;
      position: relative;
      overflow: hidden;
      font-weight: 500;
      text-transform: uppercase;
      color: rgb(207, 117, 174) !important;
      background-color: transparent;
  
  }
  


