page-modalmessage {
    ion-title{
        text-align: center;
    }
    .body{
        position: relative;
        top: 10%;
        padding-bottom: 10px;
    }
    .con{
        color: rgb(184, 184, 184);
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        font-size: 100px
    }
    h2{
        color: rgb(141, 141, 141);
    }

}
