page-infosent {
    .background{
        background-color: rgba(0, 0, 0, 0.689)
    }
    h2{
        color: white;
      
    }
    .body{
          position: relative;
          top: 110px;
    }
    .button{
        position: relative;
        top: 40px;
    }
}
