page-splash {
.backdrop{
    background-image:url('../../assets/icon/splashM.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: center;
}
}
